* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: #f5f6fa;
    color: #1c1c1c;
}

/* LAYOUT */
.layout {
    display: flex;
    min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 230px;
    background: #0d2b55;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 40px;
}

.menu a {
    color: #b8c5e0;
    text-decoration: none;
    display: block;
    padding: 12px;
    margin-bottom:5px;
    border-radius: 6px;
    font-size: 16px;
}

.menu a:hover,
.menu a.active {
    background: rgba(255,255,255,0.15);
    color: #fff;
}

/* MAIN CONTENT */
.content {
    flex: 1;
    padding: 30px;
}

h1 {
    font-size: 32px;
    margin-bottom: 25px;
}

/* CARDS 
.cards {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
}

.card {
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    width: 220px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.card .label {
    font-size: 15px;
    color: #666;
}

.card .value {
    font-size: 32px;
    font-weight: bold;
    margin-top: 8px;
}*/

/* PANELS */
.panel {
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 25px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.panel h2 {
    margin-bottom: 15px;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px 10px;
    border-bottom: 1px solid #e3e3e3;
    text-align: left;
}

/* BADGES */
.badge {
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 12px;
    color: white;
}

.success { background: #4caf50; }
.warning { background: #ff9800; }
.danger  { background: #e53935; }

/* MOCK CHART */
.chart-placeholder {
    background: #e0e7ff;
    height: 200px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #334;
    font-size: 18px;
    border: 1px dashed #a4b0e0;
}
